---

---

<section class='relative bg-fixed' id='hero'>
  <div
    class='bg-blue-700 h-full w-full absolute z-20 bg-opacity-55 flex flex-col items-center justify-center text-white'
  >
    <div
      class='flex flex-col items-center justify-center text-center lg:text-pretty py-24 w-3/4 lg:w-2/4'
    >
      <h1 class='text-6xl lg:text-8xl font-semibold'>Express Dental</h1>
      <h2 class='text-3xl lg:text-4xl mt-2'>Soluciones dentales</h2>

      <span
        class='my-8 font-semibold lg:text-lg text-justify px-4 py-2 border-2 rounded-lg border-white'
      >
        CIUDAD DE GUATEMALA | DESDE 1997
      </span>

      <a
        href='https://calendly.com/luisdiegoaguilarr/'
        class='bg-white hover:bg-gray-100 border hover:border-2 border-gray-600 text-gray-600 py-2 px-6 rounded-full hover:font-semibold hover:text-black'
      >
        Agendar una cita</a
      >
    </div>
  </div>
</section>

<style scoped>
  #hero {
    background-image: url('/images/hero.webp');
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
